.contact {
    padding-bottom: 120px;
    .container-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 42px;
        &_small {
            font-size: 18px;
        }    
    }
    &__descr {
        font-size: 16px;
        margin-bottom: 30px;
        &_small {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }
    img {
        max-width: 700px;
    }
}

@media screen and (max-width: 1200px) {
    .contact {
        img {
            max-width: 600px;
        }
    }
}
@media screen and (max-width: 992px) {
    .contact {
        img {
            max-width: 400px;
        }
    }
}
@media screen and (max-width: 768px) {
    .container-flex {
        padding-top: 50px;
        justify-content: center !important; 
        flex-wrap: wrap;
        gap: 30px;
    }
}
@media screen and (max-width: 576px)  {
    .contact {
        img {
            max-width: 300px;
        }
    }
}